save_and_load.py
steam_data.json
steam.csv
plots
.idea
idealTemp.py
wandb/
logs/
model/configs/*temp.yaml
runTrain.sh
eval.sh
featureExtract.sh
tt.py
LongCLIP/
.vscode
tt.py
*.png
*.sh
*.xlsx
*.json
idealTemperatureTest.py
runTrainVarious.sh
__pycache__/
*.pyc
